.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.controls-col {
    padding: 12px;
}

.controls-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range-slider {
    width: 256px;
}